*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix{
    display: table;
    content: "";
    clear: both;
}

.contenitor{
    width: 80%;
    /* background-color: grey; */
    margin: auto;
    height: auto;
}

/* Header CSS */
.logo, .top_nav{
    height: 50px;
    margin: 5px 0;
}

.logo{
    background-size: contain;
}

.top_nav > a{
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    color: rgba(136, 136, 136, 1);
    font-size: 15px;
    padding-right: 10px;
    margin-top: 20px;
    font-weight: 500;
}

.layover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.img{
    margin: auto;
    border-radius: 10px;
    margin: 5px 0;
    height: 500px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 30px;
}

.img_text{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 60%;
    left: 5%;
}

.img_text p:first-child{
    font-size: 26px;
}

.img_text p:last-child{
    font-size: 13px;
}

/* Header CSS */

/* Main CSS */
.content_main{
    width: 100%;
}

.title{
    background-color: darkorchid;
    height: 80px;
}

.sidebar{
    width: 24%;
    background-color: deepskyblue;
    float: left;
    height: 300px;
}

.center{
    width: 47%;
    height: 400px;
    background-color: greenyellow;
    float: left;
    margin: 0 2.5%;
}
/* /Main CSS */

/* Footer CSS */
footer{
    width: 80%;
    margin: auto;
    background-color: magenta;
    height: 50px;
}
/* Footer CSS */